/* CSS crunched with Crunch - http://crunchapp.net/ */
@font-face{font-family:'Ubuntu';src:url('UbuntuMono-Regular.ttf') format('truetype');font-weight:normal;font-style:normal;}.font2{font-family:'Ubuntu';}
@font-face{font-family:'UbuntuMonoBold';src:url('UbuntuMono-Bold.ttf') format('truetype');font-weight:bold;font-style:normal;}@font-face{font-family:'Quicksand';src:url('Quicksand_Book-webfont.ttf') format('truetype');font-weight:400;font-style:normal;}@font-face{font-family:'Quicksand';src:url('Quicksand_Book_Oblique-webfont.ttf') format('truetype');font-weight:400;font-style:italic;}@font-face{font-family:'Quicksand';src:url('Quicksand_Bold-webfont.ttf') format('truetype');font-weight:700;font-style:normal;}@font-face{font-family:'Quicksand';src:url('Quicksand_Bold_Oblique-webfont.ttf') format('truetype');font-weight:700;font-style:italic;}.font1{font-family:'Quicksand';}
form{display:inline;}
html{height:100%;}
body{background-color:#EEE;font-family:Quicksand,sans-serif;font-weight:700;font-size:13.2px;min-width:600px;min-height:200px;margin:0;padding:0;letter-spacing:-0.05em;overflow:hidden;position:relative;height:100%;-webkit-box-sizing:border-box;}
h1{color:#6a5a4c;font-size:31px;margin-top:0;letter-spacing:-0.06em;}
a,button{cursor:default !important;}
h2{color:#6a5a4c;font-size:23px;margin-top:0;letter-spacing:-0.06em;}
h3{color:#807540;font-size:17px;font-family:Quicksand,sans-serif;margin-top:0;margin-bottom:5px;}
.CodeMirror{border:1px solid black;background:white;}
#toolbar{background:url(../img/skin2/filebar-repeat.png) repeat-x top;height:27px;padding-left:10px;}
body.modal{min-width:0;position:fixed;top:0;left:0;right:0;bottom:0;padding-left:138px;padding-top:20px;padding-right:20px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.43);background:url(../img/skin2/modal-icon.png) no-repeat left top,#f2f0ed url(../img/crunch-texture.png);font-size:13.2px;font-weight:bold;}
.modal h2{margin-bottom:10px;font-size:16px;}
.modal .img{position:absolute;left:0;top:0;height:50px;width:65px;}
.modal .save{background-image:url(../img/skin/app-icons.png);height:50px;width:65px;top:-15px;left:-8px;background-position:-146px 0;}
.buttonbar{position:absolute;bottom:0px;left:0px;right:0px;height:39px;padding:10px;padding-top:20px;text-align:right;background:url(../img/crunch-texture.png) repeat,url(../img/skin2/modal-bottom-repeat.png) repeat-x;}
.buttonbar .left{float:left;}
.jstree ul,.jstree li{display:block;margin:0;padding:0;list-style-type:none;font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,sans-serif;font-size:11px;letter-spacing:0;font-weight:normal;}
#root ul ul{background:url(../img/skin/line-solid.png) repeat-y 16px 0;}
#filelist.jstree li{line-height:21px;}
#filelist.jstree a{color:#6a5a4c;}
#filelist.jstree a:hover{background-color:rgba(0, 0, 0, 0.1);}
#filelist.jstree a.jstree-clicked{background-color:rgba(0, 0, 0, 0.2);}
#filelist.jstree ins{height:19px;width:23px;}
#filelist.jstree a.jstree-loading>ins{background:url(../js/jstree/throbber.gif) no-repeat 3px 3px;}
.jstree li>a>ins{background:url(../img/skin/fileicons.png) no-repeat top;}
.jstree-open>ins{background:url(../img/skin/tree-open.png) no-repeat 12px 0;}
.jstree-closed>ins{background:url(../img/skin/tree-closed.png) no-repeat 12px 0;}
.jstree-last.jstree-open>ins{background:url(../img/skin/tree-open-noline.png) no-repeat 12px 0;}
.jstree-last.jstree-closed>ins{background:url(../img/skin/tree-closed-noline.png) no-repeat 12px 0;}
#root>a>ins{background:url(../img/skin/icon-folder-s.png) no-repeat center;width:23px;}
.jstree-leaf>ins{background:url(../img/skin/line.png) no-repeat right;}
.jstree-last>ins{background:url(../img/skin/line-last.png) no-repeat right;}
#root .file>a{opacity:0.5;}
#root .file.css>a{opacity:1;}
#root .file.less>a{opacity:1;}
#root .file>a>ins{background-position:50% -73px;}
#root .less>a>ins{background-position:50% 2px;}
#root .css>a>ins{background-position:50% -23px;}
#root .folder>a>ins{background-position:50% -97px;}
#panel-left{min-width:215px;width:250px;}#panel-left .panel{display:none;}#panel-left .panel.active{display:block;}
.panel-body{position:absolute;top:28px;left:0;bottom:0;right:0;overflow:auto;padding:8px;padding-left:12px;background:#f2f0ed;}
.panel-header{background:url(../img/skin2/sidebar-header-repeat.png) repeat-x top;height:22px;position:absolute;left:0;top:0;right:0;color:#584130;font-size:13.2px;padding:3px 0 3px 10px;font-weight:bold;}
.panel-header span{text-shadow:0 1px 0 rgba(255, 255, 255, 0.43);font-weight:700;display:inline-block;height:22px;line-height:22px;vertical-align:middle;padding-left:9px;color:#584130;}
#container{position:absolute;top:27px;left:0;right:0;bottom:0;}
#container>table{width:100%;max-width:100%;height:100%;margin:0;padding:0;border-collapse:collapse;border:0;table-layout:fixed;}
#container>table td,#container>table tr{border:0 none;}
.inner{position:relative;max-width:100%;height:100%;}
#scroller{overflow:hidden;overflow-y:visible;margin-top:-7px;}
.CRC,.CRG,#resize{z-index:2000;}
#editor-window{background:#f9f8f5 url(../img/skin2/tab-bg.png) repeat-x 0 0px;overflow:visible;min-width:450px;}
#panel-left .inner{z-index:10;}
.tabarrow{background-color:rgba(141, 71, 28, 0.8);position:absolute;top:4px;height:12px;padding:5px 6px;width:8px;-webkit-box-sizing:content-box;box-sizing:content-box;}
.tabarrow:not(:disabled):hover{background-color:rgba(185, 148, 125, 0.8);}
.tabarrow span{height:13.2px;width:8px;display:inline-block;background-image:url(../img/skin/arrows.png);}
.tabarrow:disabled span{opacity:0.3;}
#arrow-left{border-right:1px solid rgba(215, 146, 104, 0.8);border-bottom:1px solid #946f58;border-left:1px solid #946f58;left:0;padding-left:7px;}
#arrow-right{border-left:1px solid rgba(215, 146, 104, 0.8);border-bottom:1px solid #946f58;right:0;padding-right:7px;}
#arrow-right span{background-position:-8px 0;}
#findbar-outer{position:absolute;right:21px;top:50px;width:260px;height:33px;overflow:hidden;z-index:1000;}
#findbar{position:absolute;top:-33px;left:0;width:100%;height:32px;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #cac6bf), color-stop(1, #b1aea7));border:1px solid #d2d0cc;border-radius:0 0 5px 5px;-webkit-box-shadow:0 1px 0 rgba(80, 66, 57, 0.68);z-index:1000;-webkit-box-sizing:border-box;box-sizing:border-box;}
#findbar input{border:1px solid #9d9a92;border-radius:2px;-webkit-box-shadow:inset 0 2px 0 #e3e3e3;position:absolute;top:4px;left:5px;-webkit-box-sizing:border-box;box-sizing:border-box;height:24px;width:178px;z-index:2;font-size:12px;}
#findbar button{background:rgba(227, 227, 227, 0.1) url(../img/skin/updown.png);width:25px;height:24px;position:absolute;right:28px;top:4px;z-index:1;}
#findbar button:hover{background-color:rgba(227, 227, 227, 0.25);}
#findbar button:active{background-color:rgba(150, 150, 150, 0.1);}
#findbar .close{right:7px;top:14px;}
#findbar .up{right:53px;}
#findbar .down{background-position:-25px 0;}
#preview{position:absolute;top:0;width:200px;bottom:0;right:0;display:none;}
.editor,#editor-bg,#splash{position:absolute;top:49px;left:0;bottom:-4px;right:0;border-top:1px solid #ffffff;}
.editor{left:1px;top:51px;}
#splash{padding:33px 33px 10px 89px;overflow:auto;}
#resize{position:absolute;top:50%;left:0;height:31px;width:8px;border:1px solid #bb9f8a;border-left:none;border-radius:0 7px 7px 0;margin-top:-5px;margin-left:4px;-webkit-box-shadow:1px 0 3px rgba(0, 0, 0, 0.1);background:#f2f0ed url(../img/skin/resize.png) no-repeat left;}
#resize:before{background:url(../img/skin/resize.png) no-repeat left;display:block;width:100%;height:100%;}
.CRD #resize{left:-1px;}
#editor-bg{border-left:1px solid #bb9f8a;background:#f9f8f5 url(../img/skin2/editor-left-repeat.png) repeat-y left;background-position:0px 0;}
.messages.show+.editor{bottom:80px;}
.messages{position:absolute;bottom:-4px;left:46px;right:0;height:0;font-size:10px;padding:15px;background:rgba(244, 232, 168, 0.8);z-index:100;border-top:1px solid #b29681;height:52px;display:none;color:#817641;line-height:1;}
.messages .description{font-family:Ubuntu,"Courier New",Courier,monospace;font-size:12px;font-weight:normal;}
.messages.show{display:block;}
#tabs li:first-child{display:none;}
#tabs,#tabs li{margin:0;padding:0;list-style:none;}
#tabs{padding:0 25px;-webkit-box-sizing:border-box;box-sizing:border-box;white-space:nowrap;display:block;overflow:hidden;line-height:27px;}
#tabs .messages{white-space:normal;}
#tabs li{display:inline-block;padding:0 1px 0 0;}
#tabs li>div,#tabs li>div .ace_cursor{visibility:hidden !important;}
#tabs li.active>div,#tabs li.active>div .ace_cursor{visibility:visible !important;}
a.tab,a.new{display:block;background-color:rgba(192, 155, 132, 0.8);position:relative;top:2px;padding:5px 28px 5px 10px;font-size:13.2px;height:13px;line-height:12px;text-decoration:none;color:#22212b;}
a.new{background-image:url(../img/skin2/plus-button.png);background-repeat:no-repeat;background-position:center;padding:5px 10px;}
a.tab.other{background:rgba(141, 71, 28, 0.8);color:white;}
.close{position:absolute;right:6px;top:50%;margin-top:-6px;width:14px;height:14px;border-radius:7px;background:rgba(0, 0, 0, 0.15);-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5);}
.close:hover{background:rgba(150, 150, 150, 0.25);}
.messages .close{top:12px !important;}
a.tab:hover,a.new:hover{background-color:#c09b84;}
a.tab.other:hover{background:#8d471c;}
#tabs li.active a.tab{background:#e7e2de !important;-webkit-box-shadow:0 1px 1px rgba(255, 255, 255, 0.5);position:relative;top:0;border-radius:5px 5px 0 0;padding:7px 28px 7px 10px;}
li.active a.tab.other{color:#8d471c !important;}
hr{border-top:1px solid #cdc1b7;border-bottom:1px solid #ffffff;margin:30px 0;}
button,div.drop{background-color:transparent;border:none;padding:0;vertical-align:middle;-webkit-box-sizing:border-box;box-sizing:border-box;letter-spacing:-0.06em;}
button.primary{background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(220, 220, 220, 0.2)), color-stop(0.8, rgba(50, 50, 50, 0.1)));border:1px solid rgba(133, 120, 107, 0.3);color:#b9602a;}
button.primary:hover{background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.3)), color-stop(0.8, rgba(125, 125, 125, 0.1)));}
.primary,.secondary{border-radius:5px;padding:6px 8px 6px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.43);border:1px solid rgba(133, 120, 107, 0.5);box-shadow:inset 0 1px 0px rgba(255, 255, 255, 0.5);-webkit-box-shadow:inset 0 1px 0px rgba(255, 255, 255, 0.5);}
button.secondary{background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(85, 79, 66, 0.05)), color-stop(0.8, rgba(85, 79, 66, 0.3)));background-color:rgba(85, 79, 66, 0.1);color:#480a00;}
button.secondary:hover{background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.2, rgba(85, 79, 66, 0.05)), color-stop(1, rgba(85, 79, 66, 0.2)));}
button.primary img{height:13px;width:auto;margin-top:2px;}
button.primary.big,div.drop{padding:24px 22px 20px;margin-right:20px;width:140px;min-height:125px;-webkit-box-sizing:border-box;box-sizing:border-box;}
button.primary.big img,div.drop img{height:auto;}
button.primary.big span,div.drop span{display:block;}
button.primary.big span:first-child,div.drop span:first-child{margin-bottom:10px;}
div.drop{border:1px dashed rgba(197, 99, 39, 0.5);border-radius:5px;vertical-align:middle;text-align:center;color:#b9602a;display:inline-block;}
button.primary:active{background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(195, 193, 190, 0.3)), color-stop(0.5, rgba(255, 255, 255, 0.3)));}
button.secondary:active{background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.2, rgba(85, 79, 66, 0.3)), color-stop(1, rgba(85, 79, 66, 0.1)));}
button.primary span,div.drop span{vertical-align:middle;display:inline-block;}
#open-project{font-size:13.2px;width:100%;text-align:left;}
#open-project button,#project .drop{color:#6a5a4c;}
#open-project.big,#container #project div.drop{text-align:center;width:inherit;color:inherit;display:block;margin:110px auto 0;width:150px;}
#container #project.show div.drop{display:none;}
#container #project div.drop{margin-top:20px;color:#6a5a4c;border-color:rgba(159, 156, 155, 0.8);}
#refresh{background:url(../img/skin2/refresh.png) no-repeat center center;width:22px;height:22px;-webkit-transition:-webkit-transform 0.3s ease;}
#refresh.click{-webkit-transform:rotate(360deg);-webkit-transition:-webkit-transform 0.3s ease;}
#refresh[disabled]{opacity:0.35;}
#toolbar button,div.img{height:27px;vertical-align:middle;position:relative;-webkit-transition:top 0.3s ease;font-size:12px;color:#8d471c;text-shadow:0 1px 0 rgba(255, 255, 255, 0.43);background-repeat:no-repeat;padding:0 10px;}
#toolbar button[disabled]{opacity:0.35;}
#toolbar button span{opacity:0;}
#toolbar a{padding:0 5px;display:inline-block;height:27px;vertical-align:middle;line-height:27px;}
#toolbar a:hover{background-color:rgba(255, 255, 255, 0.25);}
#info,#help{background:url(../img/skin2/sideicons-supp.png) no-repeat center;opacity:0.3;}
#info:hover,#help:hover{background-image:url(../img/skin2/sideicons-supp-invert.png);opacity:0.5;}
#info{width:58px;background-position:13px 0px;height:35px;margin:0;}
#help{width:58px;background-position:13px -42px;height:35px;margin:10px 0;}
#toolbar #convert{background:url(../img/skin2/crunchit_t_text.png) no-repeat;width:117px;height:26px;background-position:center;position:absolute;right:20px;top:0;opacity:0.85;}
#wrapper #toolbar #convert[disabled]{background-position:top;opacity:0.2;}
#toolbar #convert:hover{background-position:bottom;opacity:1;}
#open-file{background-image:url(../img/skin2/toolbar-icons.png);width:31px;background-position:-23px 5px;}
#save{background-image:url(../img/skin2/toolbar-icons.png);width:24px;background-position:4px 5px;}
#open-file:hover,#save:hover{background-color:rgba(255, 255, 255, 0.25);}
.sep{display:inline-block;height:27px;width:2px;background:url(../img/skin/sep.png) no-repeat center;vertical-align:middle;margin:0 5px;}
#tabs .editor{line-height:24px;font-family:Ubuntu,"Courier New",Courier,monospace;font-weight:normal;letter-spacing:0;font-size:14px;color:#7a7974;text-shadow:0 1px 0 rgba(255, 255, 255, 0.43);}
#tabs .ace_gutter{background-color:transparent;color:#584130;text-shadow:0 1px 0 rgba(255, 255, 255, 0.43);width:46px;}
#tabs .ace_gutter-cell{padding-left:9px;}
#tabs .ace_variable,#tabs .ace_string{color:#55712b;}
#tabs .ace_variable.ace_language{color:#b7602a;}
#tabs .ace_type{color:#2086a2;}
#tabs .ace_constant{color:#a9549b;}
#tabs .ace_comment{color:#b08a6b;}
#tabs .ace_keyword{color:#3e1c07;}
#leftbar-top{background:url("../img/skin2/leftbar-top.png") no-repeat 0 0;position:absolute;top:0px;left:0;width:70px;height:61px;z-index:2;}
#leftbar{z-index:2;position:absolute;left:0;top:61px;width:70px;bottom:0;background:url("../img/skin2/leftbar-repeat.png") repeat-y 0 0;}
#wrapper{position:absolute;top:0;left:55px;z-index:1;right:0;bottom:0;overflow:hidden;}
ul,li{margin:0;padding:0;list-style-type:none;}
.subtabs{background:#e7e2de;border-bottom:1px solid #cfcbc7;-webkit-box-shadow:0 1px 0 #fff;height:100%;}
.subtabs-outer{height:23px;position:absolute;top:27px;left:0;right:0;border-left:1px solid #bb9f8a;}
.modal .primary,.modal .secondary{color:#6a5a4c;width:134px;height:34px;line-height:20px;font-size:17px;font-weight:bold;margin:0 5px;}
body.modal .primary{padding-top:4px;}
body.modal .secondary{}
.modal .primary:hover,.modal .secondary:hover{}
#extras{position:absolute;bottom:0;left:0;right:0;}
#actions li{width:63px;height:56px;opacity:0.5;}#actions li:hover{opacity:1;}
#actions li.active{opacity:1;}
#tab-project{background:url("../img/skin2/sideicon-project.png") no-repeat center;}#tab-project.active{background:url("../img/skin2/sideicon-project-active.png") no-repeat center,url("../img/skin2/sideicon-activebg.png") no-repeat;}
#tab-prefs{background:url("../img/skin2/sideicon-prefs.png") no-repeat center;}#tab-prefs.active{background:url("../img/skin2/sideicon-prefs-active.png") no-repeat center,url("../img/skin2/sideicon-activebg.png") no-repeat;}
