/* CSS crunched with Crunch - http://crunchapp.net/ */
/**
 * @start
 */
/* function(data-uri) */
#data-uri {
  background: url("this/is/a/path/bg.png");
}
/* function(url) */
#url {
  background: url("this/is/a/path/bg.png");
}
/* Nesting and URL Parsing */
#nesting,
#url {
  color: red;
  width: 1px;
  height: 1px;
  background-image: url("../../path/to/file/red.png");
}
/* Traversing and Imports */
#traverse {
  color: green;
}
/**
 * @end
 */
